.header
  .box
    %h3.box__text
      - if user_signed_in?
        = link_to root_path do
          = current_user.name
      - else
        = link_to root_path do
          勤怠アプリ
    %ul.box__list
      - if user_signed_in?
        %li.box__list__item
          = link_to root_path do
            = fa_icon "home", class: "icon"
        %li.box__list__item
          = link_to edit_user_path(current_user.id) do
            = fa_icon "cog", class: "icon"
